<?xml version="1.0" encoding="UTF-8"?>
<node name="message-input">
  <message>
    <source>
        <field source="id"/>
        <field name="name"/>
        <field name="age"/>
    </source>
    <target>
        <field source="id"/>
        <field name="member_name"/>
        <field name="member_age"/>
    </target>
  </message>
</node>